<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Jadusona - eCommerce Baby shop Bootstrap4 Template - THEME SHARED ON THEMELOCK.COM</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- CSS
	============================================ -->
   
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="assets/css/icon-font.min.css">
    
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="assets/css/plugins.css">
    
    <!-- Helper CSS -->
    <link rel="stylesheet" href="assets/css/helper.css">
    
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
    
    <!-- Modernizer JS -->
    <script src="assets/javascripts/modernizr-2.8.3.min.js"></script>
</head>

<body>

    <!-- Product Section Start -->
    <div class="product-section section mb-40 mb-lg-20 mb-md-20 mb-sm-20 mb-xs-0">
        <div class="container">

            <div class="row">
                <div class="section-title text-center col mb-30">
                    <h1>Nos produits</h1>
                    <p>Toutes les meilleures photos de chats au monde !</p>
                </div>
            </div>

                           

            <div class="row">
            <% Item.all.each do |elem|%> 
                <div class="col-xl-3 col-lg-4 col-md-6 col-12 mb-40">

                    <div class="product-item">
                        <div class="product-inner">
                               
                            <div class="image">
                             <%=image_tag "#{elem.image_url}" , alt:"", class:"img-fluid", width:"60" %>
        
                            
                                <div class="image-overlay">
                                    <div class="action-buttons">
                                        <button>add to cart</button>
                                   </div>
                                </div>

                            </div>

                            <div class="content">

                                <div class="content-left">

                                    <h4 class="title"> 

                                        <%= link_to "#{elem.title}", item_path(elem.id) %></h4>

                                </div>

                                <div class="content-right">
                                    <span class="price"><%= elem.price %></span>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            <%end%>
            </div>
   
        </div>
    </div>    
<!-- JS
============================================ -->

<!-- jQuery JS -->
<script src="assets/javascripts/jquery-1.12.4.min.js"></script>
<!-- Popper JS -->
<script src="assets/javascripts/popper.min.js"></script>
<!-- Bootstrap JS -->
<script src="assets/javascripts/bootstrap.min.js"></script>
<!-- Plugins JS -->
<script src="assets/javascripts/plugins.js"></script>
<!-- Ajax Mail -->
<script src="assets/javascripts/ajax-mail.js"></script>
<!-- Main JS -->
<script src="assets/javascripts/main.js"></script>

</body>

</html>